@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

.toolbarbutton-1 {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://mdc-platform/skin/icons/Toolbar.png");
}
.toolbarbutton-1[chromedir="rtl"] {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-rtl.png");
}
.toolbarbutton-1 .toolbarbutton-icon {
  -moz-margin-end: 0px;
}

toolbar[mode="full"] .toolbarbutton-1,
toolbar[mode="full"] .toolbarbutton-menubutton-button {
  min-width: 57px;
}

.toolbarbutton-1, .toolbarbutton-menubutton-button {
  padding: 5px;
}

.toolbarbutton-1[checked="true"] {
  padding: 5px !important;
}

/* ::::: 24px primary toolbar buttons ::::: */

toolbar:not([iconsize="small"]) .toolbarbutton-1 .toolbarbutton-icon {
  padding-top: 1px;
}

/* back button-- */

#back-button {
  -moz-image-region: rect(0px 24px 24px 0px); 
}

#back-button:not([disabled="true"]):hover,
#back-button[buttonover="true"] {
  -moz-image-region: rect(24px 24px 48px 0px);
}
#back-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px);
}
#back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 24px 120px 0px);
}

/* forward button */

#forward-button {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#forward-button:not([disabled="true"]):hover,
#forward-button[buttonover="true"] {
  -moz-image-region: rect(24px 48px 48px 24px);
}
#forward-button[disabled="true"] {
  -moz-image-region: rect(48px 48px 72px 24px);
}
#forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 48px 120px 24px);
}

/* stop button */
/*
#stopreload-button[mode="stop"] {
  -moz-image-region: rect(0px 72px 24px 48px);
}
#stopreload-button[mode="stop"]:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 72px 48px 48px);
}
#stopreload-button[mode="stop"][disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px);
}
#stopreload-button[mode="stop"]:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 72px 120px 48px);
}
*/
/* reload button */
/*
#stopreload-button[mode="reload"] {
  -moz-image-region: rect(0px 96px 24px 72px);
}
#stopreload-button[mode="reload"]:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 96px 48px 72px);
}
#stopreload-button[mode="reload"][disabled="true"] {
  -moz-image-region: rect(48px 96px 72px 72px);
}
#stopreload-button[mode="reload"]:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 96px 120px 72px);
}
*/

/*stop button*/
#stop-button {
  -moz-image-region: rect(0px 72px 24px 48px);
}
#stop-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 72px 48px 48px);
}
#stop-button[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px);
}
#stop-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 72px 120px 48px);
}


/* reload button */
#reload-button {
  -moz-image-region: rect(0px 96px 24px 72px);
}
#reload-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 96px 48px 72px);
}
#reload-button[disabled="true"] {
  -moz-image-region: rect(48px 96px 72px 72px);
}
#reload-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 96px 120px 72px);
}

/* home button */

#home-button {
  -moz-image-region: rect(0px 120px 24px 96px);
}
#home-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 120px 48px 96px);
}
#home-button[disabled="true"] {
  -moz-image-region: rect(48px 120px 72px 96px);
}
#home-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 120px 120px 96px);
}

/* download manager button */

#downloads-button {
  -moz-image-region: rect(0px 144px 24px 120px);
}
#downloads-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 144px 48px 120px);
}
#downloads-button[disabled="true"] {
  -moz-image-region: rect(48px 144px 72px 120px);
}
#downloads-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 144px 120px 120px);
}

/* history sidebar button */

#history-button {
  -moz-image-region: rect(0px 168px 24px 144px);
}
#history-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(24px 168px 48px 144px);
}
#history-button[disabled="true"] {
  -moz-image-region: rect(48px 168px 72px 144px);
}
#history-button[checked="true"] {
  -moz-image-region: rect(72px 168px 96px 144px);
}
#history-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(96px 168px 120px 144px);
}

/* bookmark sidebar button */

#bookmarks-button {
  -moz-image-region: rect(0px 192px 24px 168px);
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(24px 192px 48px 168px);
}
#bookmarks-button[disabled="true"] {
  -moz-image-region: rect(48px 192px 72px 168px);
}
#bookmarks-button[checked="true"] {
  -moz-image-region: rect(72px 192px 96px 168px);
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(96px 192px 120px 168px);
}

/* print button */

#print-button {
  -moz-image-region: rect(0px 216px 24px 192px);
}
#print-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 216px 48px 192px);
}
#print-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px);
}
#print-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 216px 120px 192px);
}

/* new tab button */

toolbar:not([iconsize="small"]) #new-tab-button .toolbarbutton-icon {
  padding-left: 1px;
}
#new-tab-button {
  -moz-image-region: rect(0px 240px 24px 216px);
}
#new-tab-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 240px 48px 216px);
}
#new-tab-button[disabled="true"] {
  -moz-image-region: rect(48px 240px 72px 216px);
}
#new-tab-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 240px 120px 216px);
}

/* new window button */

toolbar:not([iconsize="small"]) #new-window-button .toolbarbutton-icon {
  padding-left: 1px;
}
#new-window-button {
  -moz-image-region: rect(0px 264px 24px 240px);
}
#new-window-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 264px 48px 240px);
}
#new-window-button[disabled="true"] {
  -moz-image-region: rect(48px 264px 72px 240px);
}
#new-window-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 264px 120px 240px);
}

/* cut button */

#cut-button {
  -moz-image-region: rect(0px 288px 24px 264px);
}
#cut-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 288px 48px 264px);
}
#cut-button[disabled="true"] {
  -moz-image-region: rect(48px 288px 72px 264px);
}
#cut-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 288px 120px 264px);
}

/* copy button */

#copy-button {
  -moz-image-region: rect(0px 312px 24px 288px);
}
#copy-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 312px 48px 288px);
}
#copy-button[disabled="true"] {
  -moz-image-region: rect(48px 312px 72px 288px);
}
#copy-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 312px 120px 288px);
}

/* paste button */

#paste-button {
  -moz-image-region: rect(0px 336px 24px 312px);
}
#paste-button:not([disabled="true"]):hover {
  -moz-image-region: rect(24px 336px 48px 312px);
}
#paste-button[disabled="true"] {
  -moz-image-region: rect(48px 336px 72px 312px);
}
#paste-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(96px 336px 120px 312px);
}

/* ::::: 16px primary toolbar buttons ::::: */

toolbar[iconsize="small"] .toolbarbutton-1 {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}
toolbar[iconsize="small"] .toolbarbutton-1[chromedir="rtl"] {
  -moz-box-orient: vertical;
  min-width: 0;
  list-style-image: url("chrome://browser/skin/Toolbar-rtl-small.png");
}
toolbar[iconsize="small"] .toolbarbutton-1 .toolbarbutton-icon {
  -moz-margin-end: 0px;
}

toolbar[iconsize="small"] .toolbarbutton-1[type="menu-button"] {
  border: 0 !important;
}

toolbar[iconsize="small"] .toolbarbutton-menubutton-stack,
toolbar[iconsize="small"] .toolbarbutton-menubutton-button,
toolbar[iconsize="small"] .toolbarbutton-menubutton-stack:hover,
toolbar[iconsize="small"] .toolbarbutton-menubutton-button:hover,
toolbar[iconsize="small"] .toolbarbutton-menubutton-stack:hover:active,
toolbar[iconsize="small"] .toolbarbutton-menubutton-button:hover:active {
  display: -moz-box;
}
/* ::::: small back button ::::: */

/* back button-- */

toolbar[iconsize="small"] #back-button .toolbarbutton-icon {
  padding-right: 1px;
}
toolbar[iconsize="small"] #back-button {
  -moz-image-region: rect(0px 16px 16px 0px);
}
toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover,
toolbar[iconsize="small"] #back-button[buttonover="true"] {
  -moz-image-region: rect(16px 16px 32px 0px);
}
toolbar[iconsize="small"] #back-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
}
toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 16px 80px 0px);
}


/* small forward button-- */

toolbar[iconsize="small"] #forward-button .toolbarbutton-icon {
  padding-right: 1px;
}
toolbar[iconsize="small"] #forward-button {
  -moz-image-region: rect(0px 32px 16px 16px);
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover,
toolbar[iconsize="small"] #forward-button[buttonover="true"] {
  -moz-image-region: rect(16px 32px 32px 16px);
}
toolbar[iconsize="small"] #forward-button[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}
toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 32px 80px 16px);
}

/* stop button */

toolbar[iconsize="small"] #stop-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #stop-button {
  -moz-image-region: rect(0px 48px 16px 32px);
}
toolbar[iconsize="small"] #stop-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
toolbar[iconsize="small"] #stop-button[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px);
}
toolbar[iconsize="small"] #stop-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 48px 80px 32px);
}

/* reload button */

toolbar[iconsize="small"] #reload-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #reload-button {
  -moz-image-region: rect(0px 64px 16px 48px);
}
toolbar[iconsize="small"] #reload-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 64px 32px 48px);
}
toolbar[iconsize="small"] #reload-button[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px);
}
toolbar[iconsize="small"] #reload-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 64px 80px 48px);
}
/* home button */

toolbar[iconsize="small"] #home-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #home-button {
  -moz-image-region: rect(0px 80px 16px 64px);
}
toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 80px 32px 64px);
}
toolbar[iconsize="small"] #home-button[disabled="true"] {
  -moz-image-region: rect(32px 80px 48px 64px);
}
toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 80px 80px 64px);
}

/* download manager button */

toolbar[iconsize="small"] #downloads-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #downloads-button {
  -moz-image-region: rect(0px 96px 16px 80px);
}
toolbar[iconsize="small"] #downloads-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 96px 32px 80px);
}
toolbar[iconsize="small"] #downloads-button[disabled="true"] {
  -moz-image-region: rect(32px 96px 48px 80px);
}
toolbar[iconsize="small"] #downloads-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 96px 80px 80px);
}

/* history sidebar button */

toolbar[iconsize="small"] #history-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #history-button {
  -moz-image-region: rect(0px 112px 16px 96px);
}
toolbar[iconsize="small"] #history-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(16px 112px 32px 96px);
}
toolbar[iconsize="small"] #history-button[disabled="true"] {
  -moz-image-region: rect(32px 112px 48px 96px);
}
toolbar[iconsize="small"] #history-button[checked="true"] {
  -moz-image-region: rect(48px 112px 64px 96px);
}
toolbar[iconsize="small"] #history-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(64px 112px 80px 96px);
}

/* bookmark sidebar button */

toolbar[iconsize="small"] #bookmarks-button .toolbarbutton-icon {
  padding-left: 2px;
}
toolbar[iconsize="small"] #bookmarks-button {
  -moz-image-region: rect(0px 128px 16px 112px);
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(16px 128px 32px 112px);
}
toolbar[iconsize="small"] #bookmarks-button[disabled="true"] {
  -moz-image-region: rect(32px 128px 48px 112px);
}
toolbar[iconsize="small"] #bookmarks-button[checked="true"] {
  -moz-image-region: rect(48px 128px 64px 112px);
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(64px 128px 80px 112px);
}

/* print button */

toolbar[iconsize="small"] #print-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #print-button {
  -moz-image-region: rect(0px 144px 16px 128px);
}
toolbar[iconsize="small"] #print-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 144px 32px 128px);
}
toolbar[iconsize="small"] #print-button[disabled="true"] {
  -moz-image-region: rect(32px 144px 48px 128px);
}
toolbar[iconsize="small"] #print-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 144px 80px 128px);
}

/* new tab button */

toolbar[iconsize="small"] #new-tab-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #new-tab-button {
  -moz-image-region: rect(0px 160px 16px 144px);
}
toolbar[iconsize="small"] #new-tab-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 160px 32px 144px);
}
toolbar[iconsize="small"] #new-tab-button[disabled="true"] {
  -moz-image-region: rect(32px 160px 48px 144px);
}
toolbar[iconsize="small"] #new-tab-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 160px 80px 144px);
}

/* new window button */

toolbar[iconsize="small"] #new-window-button {
  -moz-image-region: rect(0px 176px 16px 160px);
}
toolbar[iconsize="small"] #new-window-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 176px 32px 160px);
}
toolbar[iconsize="small"] #new-window-button[disabled="true"] {
  -moz-image-region: rect(32px 176px 48px 160px);
}
toolbar[iconsize="small"] #new-window-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 176px 80px 160px);
}

/* cut button */

toolbar[iconsize="small"] #cut-button .toolbarbutton-icon {
  padding-right: 1px;
}
toolbar[iconsize="small"] #cut-button {
  -moz-image-region: rect(0px 192px 16px 176px);
}
toolbar[iconsize="small"] #cut-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 192px 32px 176px);
}
toolbar[iconsize="small"] #cut-button[disabled="true"] {
  -moz-image-region: rect(32px 192px 48px 176px);
}
toolbar[iconsize="small"] #cut-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 192px 80px 176px);
}

/* copy button */

toolbar[iconsize="small"] #copy-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #copy-button {
  -moz-image-region: rect(0px 208px 16px 192px);
}
toolbar[iconsize="small"] #copy-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 208px 32px 192px);
}
toolbar[iconsize="small"] #copy-button[disabled="true"] {
  -moz-image-region: rect(32px 208px 48px 192px);
}
toolbar[iconsize="small"] #copy-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 208px 80px 192px);
}

/* paste button */

toolbar[iconsize="small"] #paste-button .toolbarbutton-icon {
  padding-left: 1px;
}
toolbar[iconsize="small"] #paste-button {
  -moz-image-region: rect(0px 224px 16px 208px);
}
toolbar[iconsize="small"] #paste-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 224px 32px 208px);
}
toolbar[iconsize="small"] #paste-button[disabled="true"] {
  -moz-image-region: rect(32px 224px 48px 208px);
}
toolbar[iconsize="small"] #paste-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(64px 224px 80px 208px);
}
